.user-profile {
  position: fixed;
  left: 50%;
  margin-left: -530px;
  padding: 100px 20px;
  width: 200px;
}

.user-profile-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.anyuser-profile {
  position: fixed;
  left: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 100px 20px;
  width: 200px;
}

.anyuser-profile-picture {
  width: 196px;
  height: 196px;
  border: 2px solid black;
}

.anyuser-profile-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
