header {
  position: fixed;
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #4c555c;
  z-index: 1;
  box-shadow: 0px 0px 20px black;
}

.header-left {
  padding-left: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-picture {
  border: 2px solid #32383d;
  width: 36px;
  height: 36px;
}

.header-right {
  padding-right: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 30px;
}

.header-right > p {
  cursor: pointer;
}

.homepage-flex-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.profile {
  padding: 100px 20px;
  width: 200px;
}

.profile-picture {
  width: 196px;
  height: 196px;
  border: 2px solid lightgray;
}
.profile-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0px 10px 0px;
}

.generalfeed {
  width: 540px;
  padding: 100px 20px;
}

.post-input-box {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #32383d;
}

.post-textarea {
  width: 480px;
  border: none;
  background-color: #4c555c;
  color: lightgray;
  padding: 10px;
}

.post {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin-bottom: 10px;
  background-color: #32383d;
}

.post-header {
  height: 104px;
}

.post-profile-picture {
  margin: 20px 20px 0px 20px;
  position: absolute;
  border: solid 2px #202529;
}

.post-content {
  padding: 20px;
  width: 500px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.post-menu {
  position: absolute;
  width: 100px;
  height: 100px;
}

.post-context-menu {
  position: absolute;
  background-color: yellow;
}

.post-context-menu > small {
  cursor: pointer;
  height: 50%;
}

.post-context-menu > small:hover {
  cursor: pointer;
  height: 50%;
  background-color: red;
  border-radius: 0px 10px 0px 0px;
}

.cards {
  padding: 100px 20px;
  width: 200px;
}

.people-card {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
}

.people-card-picture {
  border: 1px solid lightgray;
  width: 46px;
  height: 46px;
}
