header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #4c555c;
  z-index: 1;
  box-shadow: 0px 0px 20px black;
}

.header-user-card {
  padding-left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-picture {
  border: 2px solid #32383d;
  width: 36px;
  height: 36px;
}

.header-right-pane {
  padding-right: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.homepage-flex-container {
  display: flex;
  justify-content: center;
}

.user-profile {
  padding: 100px 20px;
  width: 200px;
}

.user-profile-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.anyuser-profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 100px 20px;
  width: 200px;
}

.anyuser-profile-picture {
  width: 196px;
  height: 196px;
  border: 2px solid lightgray;
}

.anyuser-profile-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-feed {
  display: flex;
  flex-direction: column;
  width: 540px;
  padding: 100px 20px;
}

.anyuser-feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 540px;
  padding: 100px 20px;
}

.post-input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  padding: 20px 20px;
  margin-bottom: 18px;
  background-color: #32383d;
}

.feed-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-textarea {
  width: 480px;
  border: none;
  background-color: #4c555c;
  color: lightgray;
  padding: 10px;
}

.post {
  display: flex;
  flex-direction: column;
  width: 540px;
  background-color: #32383d;
}

.post-header {
  display: flex;
  padding: 20px 20px 0px 20px;
}

.post-profile-picture {
  width: 76px;
  height: 76px;
  border: solid 2px #202529;
}

.post-content {
  padding: 20px;
  width: 500px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  word-break: break-word;
  white-space: pre-wrap;
}

.post-answers {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 20px 20px 20px;
}

.post-answers-picture {
  width: 36px;
  height: 36px;
  border: 2px solid #202529;
}

.post-answers-content {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  white-space: pre-wrap;
}

.post-answers-content > p {
  font-size: 13px;
}

.post-footer {
  height: 20px;
  width: 540px;
  background-color: #32383d;
}

.post-answer-input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  padding: 0px 20px 20px 20px;
  background-color: #32383d;
}

.post-menu {
  position: absolute;
  width: 10px;
  height: 10px;
}

.post-context-menu {
  position: relative;
  background-color: yellow;
}

.post-context-menu > small {
  cursor: pointer;
  height: 50%;
}

.post-context-menu > small:hover {
  cursor: pointer;
  height: 50%;
  background-color: red;
  border-radius: 0px 10px 0px 0px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 100px 20px;
  height: 100vh;
  width: 200px;
}

.people-card {
  display: flex;
  gap: 10px;
  align-items: center;
}

.people-card-picture {
  border: 1px solid lightgray;
  width: 46px;
  height: 46px;
}
