header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #4c555c;
  z-index: 1;
  box-shadow: 0px 0px 20px black;
}

.header-user-card {
  padding-left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-picture {
  border: 2px solid #202529;
  width: 36px;
  height: 36px;
}

.header-right-pane {
  padding-right: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.homepage-flex-container {
  display: flex;
  justify-content: center;
}

.user-feed {
  display: flex;
  flex-direction: column;
  width: 540px;
  padding: 100px 20px;
}

.anyuser-feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 540px;
  padding: 100px 20px;
}

.post-input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  padding: 20px 20px;
  margin-bottom: 18px;
  background-color: #32383d;
}

.feed-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-textarea {
  width: 480px;
  border: none;
  background-color: #4c555c;
  color: lightgray;
  padding: 10px;
}

.post {
  display: flex;
  flex-direction: column;
  width: 540px;
  background-color: #32383d;
}

.post:hover {
  filter: brightness(1.3);
}

.post-header {
  display: flex;
  padding: 20px 20px 0px 20px;
}

.post-profile-picture {
  width: 76px;
  height: 76px;
  border: solid 2px #202529;
}

.post-content {
  padding: 20px;
  width: 500px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  word-break: break-word;
  white-space: pre-wrap;
}

.post-info {
  padding: 0px 20px 20px 20px;
}

.post-answers {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 20px 20px 20px;
}

.post-answers-picture {
  width: 36px;
  height: 36px;
  border: 2px solid #202529;
}

.post-answers-content {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  white-space: pre-wrap;
}

.post-answers-content > p {
  font-size: 13px;
}

.post-answer-input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  padding: 0px 20px 20px 20px;
  background-color: #32383d;
}
