.loginpage-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.leftside {
  width: 400px;
  height: 400px;
  background-color: grey;
  border-radius: 10px 0px 0px 10px;
}

.rightside {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
}

.rightside-pane {
  padding-left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}