@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #202529;
  color: lightgray;
}

button:hover,
input:hover,
textarea:hover {
  filter: brightness(1.3);
}

label {
  font-size: 16px;
}

img {
  display: block;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: lightgray;
}

small {
  font-size: 12px;
  font-weight: bold;
}

p {
  font-size: 15px;
}

.standard-input {
  width: 200px;
  height: 20px;
  border: none;
  background-color: #4c555c;
  color: lightgray;
  padding: 10px;
}

.standard-button {
  border: none;
  background-color: #1bc6b4;
  width: 150px;
  padding: 10px;
  cursor: pointer;
}

.standard-center-page {
  display: flex;
  height: 100vh;
  align-items: center;
  text-align: center;
}

.red {
  color: red;
}

.gray {
  color: #4c555c;
}

.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
