.cards-feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 100px 20px;
  height: 100vh;
  width: 200px;
}

.people-card {
  display: flex;
  gap: 10px;
  align-items: center;
}

.people-card-picture {
  border: 1px solid lightgray;
  width: 46px;
  height: 46px;
}
