.post-feed {
  display: flex;
  flex-direction: column;
  width: 540px;
  padding: 100px 20px;
}

.postpage-post {
  display: flex;
  flex-direction: column;
  width: 540px;
  background-color: #32383d;
}

.postpage-post-content {
  padding: 100px 20px 100px 20px;
  width: 500px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  word-break: break-word;
  white-space: pre-wrap;
}

.postpage-post-content > p {
  font-size: 22px;
}

.postpage-post-answers {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 20px 20px 20px;
}

.postpage-post-answers-picture {
  width: 56px;
  height: 56px;
  border: 2px solid #202529;
}

.postpage-post-answers-content {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  white-space: pre-wrap;
}

.postpage-post-answer-input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  padding: 0px 20px 20px 20px;
  background-color: #32383d;
}
