.post-feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 540px;
  padding: 100px 20px;
}

.postpage-post {
  display: flex;
  flex-direction: column;
  width: 540px;
  background-color: #32383d;
}

.postpage-post-content {
  padding: 50px 20px 50px 20px;
  width: 500px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  word-break: break-word;
  white-space: pre-wrap;
}

.postpage-post-content > p {
  font-size: 22px;
}

.postpage-post-answer-input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  padding: 0px 20px 20px 20px;
  background-color: #32383d;
}

.postpage-post-textarea {
  width: 480px;
  border: none;
  background-color: #4c555c;
  color: lightgray;
  padding: 10px;
}

.postpage-post-answer-buttons {
  display: flex;
  gap: 20px;
}

.postpage-post-answer {
  display: flex;
  flex-direction: column;
  background-color: #32383d;
}

.postpage-post-dislike-answer {
  display: flex;
  flex-direction: column;
  background-color: #3d3232;
}

.postpage-post-like-answer {
  display: flex;
  flex-direction: column;
  background-color: #323d3c;
}

.postpage-post-answers-content {
  display: flex;
  gap: 10px;
  padding: 20px;
  word-break: break-word;
  white-space: pre-wrap;
}

.postpage-post-answers-picture {
  width: 56px;
  height: 56px;
  border: 2px solid black;
}

.postpage-post-answers-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.postpage-post-answers-answers {
  display: flex;
  gap: 10px;
  padding: 0px 20px 20px 20px;
}

.postpage-post-answers-answers-picture {
  width: 36px;
  height: 36px;
  margin-left: 20px;
  border: 2px solid black;
}

.postpage-post-answers-answers-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  word-break: break-word;
  white-space: pre-wrap;
}

.postpage-post-answers-answers-content > p {
  font-size: 14px;
}

.postpage-post-answers-answers-input-box {
  padding: 0px 20px 20px 20px;
}

.postpage-post-answers-answers-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postpage-post-answers-answers-textarea {
  width: 480px;
  border: none;
  background-color: #4c555c;
  color: lightgray;
  padding: 10px;
}
