.registerpage-flex-container {
  display: flex;
  width: 100%;
}

.registerpage-left-pane {
  background-color: #4c555c;
  padding-right: 10px;
  width: 50%;
}

.registerpage-right-pane {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  justify-content: center;
}

.registerpage-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.registerpage-picture-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}

.registerpage-picture-window {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.canvas {
  width: 200px;
  height: 200px;
  background-color: #4c555c;
}
