@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/*GLOBAIS*/

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: whitesmoke;
}

label {
  font-size: 16px;
}

a {
  text-decoration: none;
}

small {
  font-size: 12px;
  font-weight: bold;
}

.standard-input {
  width: 200px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 10px;
}

.standard-button {
  border: none;
  border-radius: 5px;
  background-color: greenyellow;
  width: 150px;
  padding: 10px;
}

/*ANIMAÇÕES-EFEITOS*/

.red {
  color: red;
}

.tint {
  filter: grayscale(100%);
}

.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*REGISTER-FORM*/

.register-form {
}

/*PÁGINA DE LOGIN*/

.loginpage-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.leftside {
  width: 400px;
  height: 400px;
  background-color: grey;
  border-radius: 10px 0px 0px 10px;
}

.rightside {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
}

.rightside-pane {
  padding-left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*HOME*/

.homepage-flex-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/*HOME>HEADER*/

header {
  position: fixed;
  display: flex;
  height: 50px;
  width: 100%;
  background-color: white;
  z-index: 1;
  filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.2));
}

.header-left {
  padding-left: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right {
  padding-right: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 30px;
}

/*HOME>PROFILE*/

.profile {
  padding: 100px 20px;
  width: 200px;
}

.profile-picture {
  border-radius: 10px;
}

.profile-panel {
  margin: 10px 0px 10px 0px;
}

/*INPUTPOST*/

.post-input-box {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.post-input {
  width: 95%;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 10px;
}

/*GENERALFEED*/

.generalfeed {
  padding: 100px 20px;
}

/*POST*/

.post {
  display: flex;
  gap: 10px;
  width: 500px;
  min-height: 100px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.post-profile-picture {
  max-width: 100px;
}

.post-profile-picture > h2,
.post-profile-picture > p {
  font-size: 14px;
}

.post-profile-picture > img {
  border-radius: 5px;
}

.post-profile {
  color: lightgray;
  line-height: 14px;
}

/*POST>DROPDOWN*/

.dropdown-panel {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  gap: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.dropdown-content > p{
    font-size: 12px;
}

.dropdown-panel:hover .dropdown-content {
  display: block;
}

/*CARDSPANEL*/

.cards {
  padding: 100px 20px;
  width: 200px;
}

.people-card {
  padding-bottom: 5px;
}

.people-card-id {
  display: flex;
  align-items: center;
}

.people-card-picture {
  border-radius: 5px;
}

.people-card-name {
  padding-left: 10px;
}

.people-card-bio,
.people-card-bio > p {
  padding-bottom: 5px;
  font-size: 14px;
}
