@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: whitesmoke;
}

label {
    font-size: 16px;
}

a {
    text-decoration: none;
}

.standard-input {
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
}

.standard-button {
    border: none;
    border-radius: 5px;
    background-color: greenyellow;
    width: 150px;
    padding: 10px;
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}